resource "aws_instance" "tf_{{ application }}_{{ node_name }}" {
	count = "1"
	ami = "${var.os == "linux" ? var.cluster_ami["linux"] : var.cluster_ami["ubuntu"]}"
	instance_type = "${var.instance_type}"

	availability_zone = "${element(data.aws_availability_zones.available.names, 1)}"
	vpc_security_group_ids = ["${aws_security_group.tf{{ application }}.id}"]

	key_name = "${var.private_key_name}"

	user_data = data.cloudinit_config.tf_{{ application }}_{{ node_name }}.rendered
	user_data_replace_on_change = true

	connection {
		user = "${var.os == "linux" ? "ec2-user" : "ubuntu"}"
		private_key = "${file("${var.private_key_location}")}"
		timeout = "5m"
	}

	tags {
		Name ="tf_{{ application }}_{{ node_name }}"
		Application = "{{ application }}"
		NodeID = "{{ node_id }}"
		ClusterID = "{{ cluster_id }}"
	}
}

data "cloudinit_config" "tf_{{ application }}_{{ node_name }}" {
    gzip = false
    base64_encode = false

{% for part in cloudinit_config_parts %}
    part {
        filename = "{{ part.filename }}"
        content_type = "{{ part.content_type }}"
{%- if part.content != None %}
        content = [<<-EOF
{{ part.content }}
EOF]
{%- else %}
        content = "${file("{{ part.content_file }}")}"
{%- endif %}
    }
{% endfor %}
}

output "{{ application }}_{{ node_name }}_public_dns" {
    value = "${aws_instance.tf_{{ application }}_{{ node_name}}.public_dns}"
}
